*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(96, 97, 102);
}


/* login form */

h1
{
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
    font-size: 22px;
}
.loginbox .form{
    padding: 100px 15px 15px;
    color: white;
    width: 40%;
    margin: 0px auto;

}
input{
    display: block;
}
.loginbox{
    background-color: rgb(96, 97, 102);
    width: 100vw;
}
.loginbox div{
     height: 100vh;
}
.loginbox input{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}
.loginbox label{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[ type="submit"], .loginbox input[type="button"]
{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    background: rgb(83, 225, 230);
    font-size: 18px;
    border-radius: 20px;
    margin-top: 10px;
    transition: .5s ease-in-out;
}

.loginbox input[type="submit"]:hover{
    background: rgb(63, 185, 189);
    cursor: pointer;
    transform: scale(1.03,1.03);

}
.loginbox input[type="button"]:hover{
    background: rgb(63, 185, 189);
    cursor: pointer;
    transform: scale(1.03,1.03);

}
.loginbox a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
}
.loginbox a:hover {
    color: rgb(63, 185, 189);
}

    /* signup form */
h1{
    text-align: center;
    margin: 0px;
    padding-bottom: 20px;
    font-size: 22px;
}
.signupbox .form{
    padding: 30px 15px 15px;
    color: white;
    width: 40%;
    margin: 0px auto;

}
.signupbox{
    background-color: rgb(96, 97, 102);
}

.signupbox label{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-weight: bold;
}
.signupbox input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 16px;
}
.signupbox button
{
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
    color: #fff;
    background: rgb(83, 225, 230);
    font-size: 18px;
    border-radius: 20px;
    transition: .5s ease-in-out;
    margin-left: 60px;
}

.signupbox button:hover{
    background: rgb(63, 185, 189);
    cursor: pointer;
    transform: scale(1.03,1.03);

}
.radioBtn{
    display: flex;
    flex-direction: column;
}

.radioBtn div{
    display: flex
}
.radioBtn div span{
    display: flex;
}
.radioBtn span label{
    line-height: 35px;
}
.radioBtn input{
    width: 20px;
    height: 20px;
    padding: 10px;
    margin: 10px;
}
input[ type="radio"]{
    display: flex;
    flex-direction: row;
    align-items: center;
}

input[ type="radio"] label{
    margin: 0px 15px;
    height: 38px;
    display: inline-block;
}

.checkbox{
    display: flex;
}
.checkbox input{
    width: 20px;
    height: 16px;
}

                                /* forget password */


p{
    margin-top: 30px;
    font-size: 16px;
    color: #fff;
    padding-bottom: 20px;
 }
 .fpassword{
     margin: 100px auto;
     width: 50vw;
    color: #fff;
    padding-top: 50px;
    padding-left: 100px;
   
 }

.fpassword input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 80%;
    color: #fff;
    background: rgb(83, 225, 230);
    font-size: 18px;
    border-radius: 20px;
    transition: .5s ease-in-out;
    margin-left:  60px;
}
.fpassword input[type="submit"]:hover{
    background: rgb(63, 185, 189);
    cursor: pointer;
    transform: scale(1.03,1.03);
}
.fpassword input{
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    font-size: 16px;
}
.fpassword label{
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-weight: bold;
}
::placeholder{
    color: rgb(170, 170, 170);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}





                               /* add couch */



                                    /*add couch details */


/* Saif's Turn */

/* wishlist */
